<!-- BIOS: Are there any specific things each person wants to be contacted about? --> 

<% layout('layout') -%>
<style>
	h2 {
		text-align: left;

	}
	.headshot {
		width: 200px;
		height: auto;

	}

	.profile_content {
		width: 40%;
	}

</style>
<h1>About</h1>

<div class="info">
	<h2>About the Project</h2>
</div>

<div class="info">
	<h2>People</h2>
	<br>


	<div class="container" id="profiles">
<!-- 		<div>
			<img class="headshot" src="../images/kim_wilson.jpg">
			<h3 style="text-align: left">Kim Wilson</h3>
			
			<p>
			Kim Wilson is on the faculty of the Fletcher School of Tufts University. She is also a development practitioner with years of experience working with organizations such as Catholic Relief Services, the World Bank, and various UN agencies.		</p>
			<a href="mailto:Kimberley.Wilson@tufts.edu?subject=Hi Kim!">Contact Kim</a>
		</div>

		<div>
 -->
		</div>
	</div>
</div>

<script>

	var people = [
		{'name':'Kim Wilson', 'image':'../images/kim_wilson.jpg', 'role':' ', 'desc':'Kim Wilson is on the faculty of the Fletcher School of Tufts University. She is also a development practitioner with years of experience working with organizations such as Catholic Relief Services, the World Bank, and various UN agencies.', 'email':'Kimberley.Wilson@tufts.edu?subject=Hi Kim!'},

		{'name':'Jeffrey Isen', 'image':'../images/jeff_isen.jpg', 'role':' ','desc':'Jeffrey Isen is originally from Toronto Canada and has been teaching History and Social Studies at Boston Latin Academy since 2007. He taught Ancient Civilization, US History I & II, US History Honors, World History I & II, AP Comparative Government, and International Relations.  Jeffrey holds a Masters of Arts in Law and Diplomacy from the Fletcher School at Tufts University and a Masters of Arts in Teaching from Emanuel College. Jeffrey is also a National Board Certified teacher. Before becoming a high school teacher, Jeffrey was a foreign aid worker; he has lived, worked and traveled in 25 countries on 5 continents.', 'email':'#'},

		{'name':'Emily Scott', 'image':'../images/emily_scott.jpg', 'role':' ','desc':'coming soon', 'email':'lucyzqin@gmail.com?subject=Hi Lucy!'},

		{'name':'Lucy Qin', 'image':'../images/lucy_qin.jpg', 'role':'Technical Lead','desc':'Lucy is a senior at Tufts University studying computer science and economics. She enjoys building web applications, data visualizations, and just about anything else. She is also deeply interested in economic development, particularly in relation to urbanization and the spread of technology. Given this medley of interests, Lucy hopes to apply her programming skills to international issues such as conflict, health and humanitarian relief.', 'email':'lucyzqin@gmail.com?subject=Hi Lucy!'},

		{'name':'Jenny Aker', 'image':'../images/jenny_aker.jpg', 'role':'','desc':'Jenny C. Aker is an Assistant Professor of Development Economics at the Fletcher School and Department of Economics at Tufts University. She is also a Non-Resident Fellow at the Center for Global Development , a member of the Advisory Board for CDA, Frontline SMS and the Boston Network for International Development (BNID) . She also serves as the Deputy Director of the Hitachi Center for Technology and International Affairs and is the Interim Director for the Center for International Environment and Resource Policy (CIERP). After working for Catholic Relief Services as Deputy Regional Director in West and Central Africa between 1998 and 2003, Jenny completed her PhD in agricultural economics at the University of California-Berkeley. Jenny works on economic development in Africa, with a primary focus on the impact of information (and information technology) on development outcomes.', 'email':'#'},

		{'name':'Eric Braun', 'image':'../images/eric_braun.jpg', 'role':'Faculty Advisor','desc':'Eric Braun has spent over 20 years developing solutions in high tech companies, professional services organizations and startups. He has founded or co-founded 5 successful companies. Over the course of his professional career and as a parent, education has become an important force in his life. In the late 90′s and early 2000′s, he collaborated on some of the first e-learning platforms for the web and has strived to make learning more engaging for students. Some of his early experience in teaching came from coaching Destination Imagination teams in grades K-7. These experiences were early experiments in project-based learning where students excelled beyond expectations.In addition to his work at 30hands, he is currently working with local school districts and colleges on providing better methods of teaching entrepreneurship and technical courses through Blended Learning and Project-Based Learning techniques.', 'email':'#'} 

	];

	for (k in people) {
		$("#profiles").append("<div class='row'><div class='col-md-4'><img class='headshot' src='" + people[k]["image"] + "'></div><div class='col-md-8 profile_content'><h4 style='text-align: left'>" + people[k]["name"] + " | " + people[k]["role"] + "</h4><p>" + people[k]["desc"] + "</p><a href='mailto:" + people[k]["email"] + "'>Contact</a></div></div><br><br><br><br>");
	}


</script>
