<!-- BIOS: Are there any specific things each person wants to be contacted about? --> 

<% layout('layout') -%>
<style>
	h2 {
		text-align: left;

	}
	.headshot {
		width: 200px;
		height: auto;

	}
</style>
<h1>About</h1>

<div class="info">
	<h2>About the Project</h2>
</div>

<div class="info">
	<h2>People</h2>


	<div>
		<img class="headshot" src="../images/kim_wilson.jpg">
		<h3 style="text-align: left">Kim Wilson</h3>
		
		<p>
		Kim Wilson is on the faculty of the Fletcher School of Tufts University. She is also a development practitioner with years of experience working with organizations such as Catholic Relief Services, the World Bank, and various UN agencies.		</p>
		<a href="mailto:Kimberley.Wilson@tufts.edu?subject=Hi Kim!">Contact Kim</a>

	</div>
</div>