<% layout('layout') -%>
<head>
	<link href="../css/CommunityMap.css" rel="stylesheet">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
	<script src="../js/mapView.js"></script>
</head>

<body onload="init()">
	<h1>Community Map</h1>

		<div class="content">

		<div id ="map_canvas"></div>
  	
  		<div class="info" id="desc">
			<h3>Description</h3>
  		</div>
  	
<!--
  		<div class="info" id="chart_view">
  			<h4>Chart</h4>	
  		</div>

  		<div class="info" id="filter_box">
  			<h4>Filter</h4>
  		</div>
-->
	</div>

</body>