<% layout('layout') -%>
<head>

  <style>
  .content_filter {
    display: none;
  }

  .toggle_filter  {
    background-color: rgba(100,100,100,0.3);

  }

  .toggle_filter:hover {
    background-color: rgba(250,230,178,0.5);
  }

    .toggle_data {
    background-color: rgba(100,100,100,0.3);

  }

  .toggle_data:hover {
    background-color: rgba(250,230,178,0.5);
  }


  </style>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
	<script src="../js/mapView.js"></script>
  <script src="Processing.js/processing.js"></script>
</head>

<body onload="init()">
	<h1>Community Map</h1>

    <h2>
        <span class="toggle_data" divId="all_classes">View All Classes</span>
        <span class="toggle_data" divId="user_class">View Your Class</span>
        <span class="toggle_data" divId="other">Other</span>

    </h2>


		
		<div id ="map_canvas"></div>
  	
      <div id="viz">
        <h2>Visualization</h2>
        <canvas data-processing-sources="../js/map_chart.pde"></canvas>
      </div>
  		<div id="desc">
  			<h2 style="text-align: left">Filter by   
          <span class="toggle_filter" divId="location_checkboxes">Location</span>
          <span class="toggle_filter" divId="resource_type_checkboxes">Resource Type</span>
        </h2>
        
        <div class="content_filter" id="resource_type_checkboxes">
          <input type="checkbox" id="check_0" name="location_type" value="0">  Cafeteria</input><br>
          <input type="checkbox"  id="check_1" name="location_type" value="1">  Convenience Store</input><br>
          <input type="checkbox"  id="check_2" name="location_type" value="2">  Farmer's Market</input><br> 
          <input type="checkbox"  id="check_3" name="location_type" value="3">  Fast Food</input><br>
          <input type="checkbox" id="check_4" name="location_type" value="4">  Garden/Farm</input><br>
          <input type="checkbox" id="check_5" name="location_type" value="5">  Grocery Store</input><br>
          <input type="checkbox" id="check_6" name="location_type" value="6">  Liquor Store</input><br>
          <input type="checkbox"  id="check_7" name="location_type" value="7">  Restaurant</input><br>
          <input type="checkbox" id="check_8" name="location_type" value="8">  Other</input>
          <br><br>
          <input type="submit" onclick="filterByType()" value="Filter"/><br><br>
        </div>

        <div class="content_filter" id="location_checkboxes">

        </div>



  		</div>

<script>



    $(".toggle_filter").bind("click", function() {
         $(".content_filter").hide();
         var divId = $(this).attr("divId");
      //  $("#" + divId).slideToggle('slow', function() {});
        $("#" + divId).show();
      });


</script>

</body>