<% layout('layout') -%>
<head>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
	<script src="../js/mapView.js"></script>
  <script src="Processing.js/processing.js"></script>
</head>

<body onload="init()">
	<h1>Community Map</h1>

		

		<div id ="map_canvas"></div>
  	
      <div id="viz">
        <h3>Visualization</h3>
        <canvas data-processing-sources="../js/map_chart.pde"></canvas>
      </div>
  		<div id="desc">
			<h3>Filter by</h3>
  		</div>


  	
<!--
  		<div class="info" id="chart_view">
  			<h4>Chart</h4>	
  		</div>

  		<div class="info" id="filter_box">
  			<h4>Filter</h4>
  		</div>
-->


</body>