

<div class="info">
	<form method="post" action="/create_account">

    	<label>Full Name</label><br>
        <input class="textbox" type="text" name="full_name"><br><br>

        <label>Username</label><br>
        <input class="textbox" type="text" name="username"><br><br>
         			
        <label>Password</label><br>
        <input class="textbox" type="password" name="password"><br><br>
         			
        <label>Confirm Password</label><br>
        <input class="textbox" type="password" name="confirm_password"><br><br>

        <label>Verification Code</label><br>
        <input class="textbox" type="text" name="ver_code"><br><br>

        <label>Email Address</label><br>
        <input class="textbox" type="text" name="email"><br><br>


        <input class="btn btn-default textbox" type="submit" value="Create an Instructor"/><br><br>
         			</form>

</div>