<% layout('layout') -%>
<script>
	var data;
	function init() {
		var request = new XMLHttpRequest();
		request.open("GET", "http://localhost:5000/hyp_data", true);
		request.send();
		request.onreadystatechange = function() {
			if (request.readyState==4 && request.status==200) {
				data = JSON.parse(request.responseText);	
				displayData();
			}
		};
	}
	function displayData() {
		console.log(data);
		// for (int i = 0; i < Object.keys(data).length; i++) {
		// 	$(document).ready(function() {
		// 	$("hypotheses").append('<div><h4>Student Name: ' + data[i]["student"] + '</h4><p>' + data[i]["hypothesis"] + '</p></div>');
		// 	});
		// }


	}

</script>

<body onload="init()">
<h1>Student Hypotheses</h1>


	<div class="hypotheses"></div>

