<% layout('layout') -%>

<h1>This Is Us</h1>

<div class="content">
		<div class="info"><h2>Welcome to This Is Us</h2>
		<p>This Is US (TIU) is about students, who they are and where they live. TIU empowers young people to create and champion positive changes in their own communities. </p>
		<p>Our goal is to empower youth across the world to gather, visualize and share information. Students learn research methods as they collect community level data. They also experience the excitement of entrepreneurship and activism. The curriculum is broken into easy-to-digest modules that cover research basics and practical tools for change. Our first module is centered on food. Later modules include energy, health, water and the environment. TIU is supported by the Boston Latin Academy and Tufts University. We give a special thanks to the Hitachi Center of Technology and International Affairs, The Fletcher School.</p>
		</div>

	</div>