<% layout('layout') -%>

<h1>This Is Us</h1>

<div class="content">
		<div class="info"><h2>Welcome to This Is Us</h2>
		<p>This Is US (TIU) is about students, who they are and where they live. TIU is a program that empowers young people to create and champion positive changes in their own community. The program is based on the use primary data collection and analysis; students become agents of change by gathering real evidence about where they live, and then responding to that data to make their communities better.</p>
		</div>

		<br>
		<div class="info"><h2>The TIU Goal</h2>
		<p>The TIU goal is not only to empower youth across the world to make a difference in their communities, but provide a platform for students to share their data and experiences with each other and with the world. Students learn about research methodologies, while collecting community level data. The curriculum is broken into easy to digest modules that cover basics in research, from ethics to data analysis. The modules also provide easy instructions on ways to capture and share data, all while maintaining the flexibility to allow students to think creatively and explore issues that matter to them.

		Community data will be gathered and grouped based on various themes, such as food consumption patterns, community health, energy, small enterprise, or environment, and can be selected based on the relevant interests of the group. Students will create their own surveys, collect their own data, and conduct their own analysis. Students upload their data to the cloud, where data can be saved, analyzed, and shared across the world.
		</p>


		</div>
	</div>