<!-- TODO:
-Forgot password
-Class ID, class name, etc. 
-->
<!doctype html>
<html>
<head>
	<title>This Is Us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--FIXED STYLE SHEETS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">



	<!--FAVICON-->
	<link rel="SHORTCUT ICON" href="images/tree_favicon.gif" type="image/x-icon" />
	<link rel="ICON" href="images/tree_favicon.gif" type="image/ico" />


	<!--SCRIPTS-->
	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>
	

<script type="text/javascript">
	$(document).ready(function(){
		$(".toggle-modal #login_toggle").click(function(){
			$("#login_modal").modal('toggle');
		});
	});
</script>






</head>

<body>

<script>

var data;


var request = new XMLHttpRequest(); 
request.open("GET", "/class_data", true);
request.send();
request.onreadystatechange = function() {
	if (request.readyState==4 && request.status==200) {
		data = JSON.parse(request.responseText);
					

		var school_name;
		var instructor_name;

		for (k in data) {
			school_name = data[k]["school"];
			class_name = data[k]["class_name"];

			instructor_name = data[k]["instructor"];
	
			// var drop_down = document.getElementById("dropdown_class_list");
			// var option = document.createElement("option");
			// option.text = class_name;
			// drop_down.add(option);
						// <option name="location_type" value="cafeteria">  Cafeteria</option><br>
			$("#dropdown_class_list").prepend("<li class='dropdown_link'><a href='#'>" + class_name + "</a></li>");
			console.log(class_name);
			$("#dropdown_select_class").append("<option name='class_selection'>" + class_name + "</option><br>");
		}
	
	}
};


</script>


	<!--STATIC HEADER-->
	<div>
		<div id="nav">
			<ul>

		<!-- 		<li role="presentation" class="dropdown">
    				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">View Modules by Class<span class="caret"></span></a>
    				<ul class="dropdown-menu" id="dropdown_class_list" role="menu">
    					<li class="dropdown_link"><a href="viewClasses">View Classes</a></li>
    				</ul>
    			</li> -->
					<li class="nav_link active"><a href="about">About</a></li>
 					<li class="nav_link active"><a href="hypothesis">Student Hypotheses</a></li>
 					<li class="nav_link active"><a href="whatWeEat">What We Eat</a></li>
 					<li class="nav_link active"><a href="communityMap">Community Map</a><li class="nav_link active"><a href="viewClasses">Participating Classes</a></li>


				<% if (!isAuthenticated) { %>
					<span class="account_link"><li class="nav_link active" id="login_toggle"><a href="#" data-toggle="modal" data-target="#login_modal">Log In</a></li></span>
					<span class="account_link"><li class="nav_link active" id="signup_toggle"><a href="#" data-toggle="modal" data-target="#signup_modal">Create an Account</a></li></span>				
				<% } else { %>

					<li class="nav_link active"><a href="landing">Home</a></li>
<!-- 					<li class="nav_link active"><a href="submit">Submit Data</a></li>
 -->				<span class="account_link"><li class"nav_link active"><a href="logout">Log Out</a></li>
				<% } %>
			</ul>
		</div>

		<%- body%>

	</div>

 <!-- Modals -->
    <div id="login_modal" class="modal fade">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            		<h4 class="modal-title">Log In</h4>
        		</div>
         		<div class="modal-body">
         			<form method="post" action="/login">
         			<label>Username</label><br>
         			<input class="textbox" type="text" name="username"><br><br>
         			
         			<label>Password</label><br>
         			<input class="textbox" type="password" name="password"><br><br>
         			<input class="btn btn-default textbox" type="submit" value="Log In"/><br><br>
         			</form>
  		        </div>
        	</div>
    	</div>
	</div>

	 <div id="signup_modal" class="modal fade">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            		<h4 class="modal-title">Create an Account</h4>
        		</div>
         		<div class="modal-body">
         			<p style="text-align: left; color: #000;">Don't know your class ID? Request it from your instructor!</p>
         			<form method="post" action="/create_account">

         			<label>Full Name</label><br>
         			<input class="textbox" type="text" name="full_name"><br><br>

         			<label>Username</label><br>
         			<input class="textbox" type="text" name="username"><br><br>
         			
         			<label>Password</label><br>
         			<input class="textbox" type="password" name="password"><br><br>
         			
         			<label>Confirm Password</label><br>
         			<input class="textbox" type="password" name="confirm_password"><br><br>

         			<select name="dropdown_select_class" id="dropdown_select_class">
						<option id="base">Please select your class</option>
					</select><br><br>

         			<label>Verification Code</label><br>
         			<input class="textbox" type="text" name="ver_code"><br><br>

         			<label>Email Address</label><br>
         			<input class="textbox" type="text" name="email"><br><br>


         			<input class="btn btn-default textbox" type="submit" value="Create an Account"/><br><br>
         			</form>
  		        </div>
        	</div>
    	</div>
	</div>



</body>


<!--FIXED FOOTER-->
<footer>
	<div id="wrap">
		<div id="footer">
				<h5 class="footer_links">
					<li><a href="mailto:tiu.proj@gmail.com?subject=I found an error!">Report an Error</a></li>  
					<li><a href="mailto:tiu.proj@gmail.com?subject=I have a suggestion!">Make a Suggestion</a></li> 
					<li><a href="mailto:tiu.proj@gmail.com?subject=I have a question">Ask a Question</a></li>
				</h5>
			
			<!-- 	<br>

				<p class="footer-text"><br> 
					<br>CONTACT INFORMATION GOES HERE
				</p> -->
		</div>
	</div>
</footer>




</html>


