<!DOCTYPE HTML>
<html>
<head>
	<title>This Is Us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--FIXED STYLE SHEETS-->
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">


	<!--SCRIPTS-->
	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>

	<!--FAVICON-->
	<link rel="SHORTCUT ICON" href="images/tree_favicon.gif" type="image/x-icon" />
	<link rel="ICON" href="images/tree_favicon.gif" type="image/ico" />


</head>

<body>
	<!--STATIC HEADER-->
	<div>
		<div id="nav">

			<ul id="nav_links">
				<li><a href="/">This Is Us</a></li>
				<li>|</li>
				<li><a href="about">About</a></li>
				<li><a href="viewClasses">View Classes</a></li>  
				<li><a href="hypothesis">Student Hypotheses</a></li>  
				<li><a href="whatWeEat">What We Eat</a></li>
				<li><a href="communityMap">Community Map</a></li>
				<li><a href="studentProjs">Student Projects</a></li>
				<li><a href="submit">Submit Data</a></li>
				
			</ul>
		</div>
		<%- body%>
	</div>

</body>




<!--FIXED FOOTER-->
<footer>
  <div id="wrap">
  <div id="footer">
  <div class="container"> 
<ul>
	<h5 class="footer_links">
		<li><a href="mailto:tiu.proj@gmail.com?subject=I found an error!">Report an Error</a></li>  
		<li><a href="mailto:tiu.proj@gmail.com?subject=I have a suggestion!">Make a Suggestion</a></li> 
		<li><a href="mailto:tiu.proj@gmail.com?subject=I have a question">Ask a Question</a></li>
	</h5>
</ul>
<br>

<p class="footer-text"><br> 
<br>CONTACT INFORMATION GOES HERE
</p>
</div>
</div>
</div>
</footer>
</html>

