<% layout('layout') -%>

<h1>Submit Data</h1>


	<div class="info">
	<!-- 	<div id="form_links">
		<h3><span class="form_link" divId="hypo">Hypothesis</span>| 
			<span class="form_link" divId="community_map">Community Map</span>| 
			<span class="form_link" divId="student_projs">Student Projects</span>
		</h3>
		</div> -->

		<div class="forms">
			<div id="hypo">
			<h3>Submit a hypothesis</h3>
				<form method="post" action="/submit_hypothesis">
					Name:<br> <input class="textbox" id="student_name"type="text" name="student_name"/><br><br>
					Hypothesis:<br> <input class="textbox" type="text" name="hypothesis" size="50"/><br><br>
					<input type="submit" value="Submit"/>
				</form>
				

			</div>


			<div id="community_map">
			<h3>Submit a new food resource</h3>
				<form action="/submit_location" method="post">
					Name:<br> <input type="text" class="textbox" name="name"/><br><br>
					Name of location:<br> <input class="textbox" type="text" name="location_name"/><br><br>
					Address of location:<br> <input type="text" class="textbox"  size="50" name="location_address"/><br><br>
					Type of food resource: <br>
					<input type="radio" name="location_type" value="restaurant"> Restaurant</input><br>
					<input type="radio" name="location_type" value="grocery_store"> Grocery Store</input><br>
					<input type="radio" name="location_type" value="food_truck"> Food Truck</input>
					<br><br>
					<input type="submit" value="Submit"/>
				</form>

			</div>

			<div id="student_projs"></div>
		</div>
		
	</div>