<% layout('layout') -%>

<h1>Submit Data</h1>


	<div class="info">
	<!-- 	<div id="form_links">
		<h3><span class="form_link" divId="hypo">Hypothesis</span>| 
			<span class="form_link" divId="community_map">Community Map</span>| 
			<span class="form_link" divId="student_projs">Student Projects</span>
		</h3>
		</div> -->

		<div class="forms">
			<div id="hypo">
			<h3>Submit a hypothesis</h3>
				<form method="post" action="/submit/hypothesis">
					Name: <input id="student_name"type="text" size="50" name="student_name"/><br><br>
					Hypothesis: <input type="text" name="hypothesis"/><br><br>
					<input type="submit" value="Submit"/>
				</form>
				<!--  $.post("http://fathomless-reef-4406.herokuapp.com/submit.json", 
    {"username": "</td></tr></div></table>", "score": 99999, "grid": JSON.stringify(this.grid)});
-->

			</div>


			<div id="community_map">
			<h3>Submit a new food resource</h3>
				<form action = "/submit_location.json">
					Name: <input type="text" size="50" name="name"/><br><br>
					Name of location: <input size="50" type="text" name="name"/><br><br>
					Address of location: <input type="text" size="100" name="name"/><br><br>
					Type of food resource: 
					<select>
						<option value="restaurant">Restaurant</option>
						<option value="restaurant">Restaurant</option>
						<option value="restaurant">Restaurant</option>
						<option value="restaurant">Restaurant</option>
						<option value="restaurant">Restaurant</option>
						<option value="restaurant">Restaurant</option>
					</select>
					<br><br>
					<input type="submit" value="Submit"/>
				</form>

			</div>

			<div id="student_projs"></div>
		</div>
		
	</div>