<% layout('layout') -%>
<head>
<style>
	.content_forms {
		display: none;

	}


  .toggle_forms {
    background-color: rgba(100,100,100,0.3);

  }

  .toggle_forms:hover {
    background-color: rgba(250,230,178,0.5);
  }


</style>
</head>


<h1>Submit Data</h1>

	<div class="info">
		<br><h2>
			<span class="toggle_forms" divId="hypothesis">Student Hypotheses</span>
			<span class="toggle_forms" divId="communityMap">Food Resource Location</span>
			<span class="toggle_forms" divId="studentProjs">Student Projects</span>
		</h2>

		<div class="forms content_forms" id="hypothesis">
				<h2 style="text-align: left">Submit a hypothesis</h2>
	
				<form method="post" action="/submit_hypothesis">
					Name:<br> <input class="textbox" type="text" name="student_name"/><br><br>
					Hypothesis:<br> <input class="textbox" type="text" name="hypothesis" size="50"/><br><br>
					<input type="submit" value="Submit"/><br><br>
				</form>
		</div>


		<div class="forms content_forms" id="communityMap">
			<h2 style="text-align: left">Submit a new food resource</h2>
		<!-- 		<form action="/submit_location" method="post"> 
		 -->			Name:<br> <input type="text" class="textbox" id="student_name" name="name"/><br><br>
					Name of location:<br> <input class="textbox" id="location_name" type="text" name="location_name"/><br><br>
					Address of location:<br> <input type="text" id="location_address" class="textbox"  size="50" name="location_address"/><br><br>

					<select name="location_type" id="resource_type">
						<option id="base">Please select a resource type</option>
					
						<option name="location_type" value="cafeteria">  Cafeteria</option><br>
						<option  name="location_type" value="convenience_store">  Convenience Store</option><br>
						<option name="location_type" value="farmers_market">  Farmer's Market</option><br>	
						<option  name="location_type" value="fast_food">  Fast Food</option><br>
						<option   name="location_type" value="garden/farm">  Garden/Farm</option><br>
						<option name="location_type" value="grocery_store">  Grocery Store</option><br>
						<option name="location_type" value="liquor_store">  Liquor Store</option><br>
						<option name="location_type" value="restaurant">  Restaurant</option><br>
						<option name="location_type" value="other">  Other</option>
					</select>
					<br><br>

					<!--neighborhoods-->

					<select name="location_neighborhood" id="loc_neighborhood">
					 	<option id="base"> Please select a neighborhood </option>
						<optgroup label="Boston">
							<option class="location_neighborhood" value="Charlestown"> Charlestown </option>
							<option class="location_neighborhood" value="Beacon Hill/Back bay"> Beacon Hill/Back bay </option>
							<option class="location_neighborhood" value="Downtown/Chinatown/Bay Village"> Downtown/Chinatown/Bay Village </option>
							<option class="location_neighborhood" value="South End"> South End </option>
							<option class="location_neighborhood" value="South Boston/Waterfront"> South Boston/Waterfront </option>
							<option class="location_neighborhood" value="Fenway/Kenmore/Mission Hill"> Fenway/Kenmore/Mission Hill </option>
							<option class="location_neighborhood" value="West End/North End"> West End/North End </option>
							<option class="location_neighborhood" value="Allston/Brighton"> Allston/Brighton</option>
							<option class="location_neighborhood" value="Roxbury"> Roxbury </option>
							<option class="location_neighborhood" value="Dorchester"> Dorchester </option>
							<option class="location_neighborhood" value="Jamaica Plain"> Jamaica Plain </option>
							<option class="location_neighborhood" value="West Roxbury"> West Roxbury </option>
							<option class="location_neighborhood" value="Roslindale"> Roslindale </option>
							<option class="location_neighborhood" value="Mattapan"> Mattapan </option>
							<option class="location_neighborhood" value="Hyde Park"> Hyde Park </option>
						</optgroup>
						<optgroup label="North/East of Boston">
							<option class="location_neighborhood" value="Revere"> Revere </option>
							<option class="location_neighborhood" value="Winthrop"> Winthrop </option>
							<option class="location_neighborhood" value="Chelsea"> Chelsea </option>
							<option class="location_neighborhood" value="Everett"> Everett </option>
							<option class="location_neighborhood" value="Malden"> Malden </option>
							<option class="location_neighborhood" value="Medford"> Medford </option>
						</optgroup>
						<optgroup label="North/West of Boston">
							<option class="location_neighborhood" value="Arlington"> Arlington </option>
							<option class="location_neighborhood" value="Somerville"> Somerville </option>
							<option class="location_neighborhood" value="Cambridge"> Cambridge </option>
							<option class="location_neighborhood" value="Belmont"> Belmont </option>
							<option class="location_neighborhood" value="Watertown"> Watertown </option>
						</optgroup>
						<optgroup label="West of Boston">
							<option class="location_neighborhood" value="Waltham"> Waltham </option>
							<option class="location_neighborhood" value="Newton"> Newton </option>
							<option class="location_neighborhood" value="Brookline"> Brookline </option>
							<option class="location_neighborhood" value="Needham"> Needham </option>
							<option class="location_neighborhood" value="Dedham"> Dedham </option>
						</optgroup>
						<optgroup label="South of Boston">
							<option class="location_neighborhood" value="Milton"> Milton </option>
							<option class="location_neighborhood" value="Quincy"> Quincy </option>
							<option class="location_neighborhood" value="Braintree"> Braintree </option>
						</optgroup>
					</select><br><br>
					<input type="submit" onclick="codeAddress()" value="Submit"/><br><br>
			<!-- 	</form>
 -->		</div>
	

		<div class="forms content_forms" id="studentProjs">		
				<h2 style="text-align: left">Submit a project</h2>
					<form method="post" action="/submit_projects">
						Name:<br> <input class="textbox" id="student_name"type="text" name="student_name"/><br><br>
						Project Name:<br> <input class="textbox" id="proj_name"type="text" name="proj_name"/><br><br>
						Prezi Link:<br> <input class="textbox" type="text" name="prezi_link" size="50"/><br><br>
						Project Description:<br> <input class="textbox" id="proj_desc"type="text" name="proj_desc" size="50"/><br><br>
						Phase Number:<br><input type="radio" name="phase_num" value="1"> 1 </input>
						<input type="radio" name="phase_num" value="2"> 2 </input>
						<input type="radio" name="phase_num" value="3"> 3</input><br><br>
						<input type="submit" value="Submit"/><br>
					</form>
		</div>
</div>
	
<script> 
    $(".toggle_forms").bind("click", function() {
         $(".content_forms").hide();
         var divId = $(this).attr("divId");
        $("#" + divId).slideToggle('slow', function() {});
      //  $("#" + divId).show();
      });
</script>


	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>

	<script type="text/javascript">
		
	


		function codeAddress() {
			var student_name = document.getElementById("student_name").value;
			var location_name = document.getElementById("location_name").value;
			var location_address = document.getElementById("location_address").value;

			var dropdown = document.getElementById("loc_neighborhood");

			var loc_neighborhood = dropdown.options[dropdown.selectedIndex].value;

			dropdown = document.getElementById("resource_type");
			var location_type = dropdown.options[dropdown.selectedIndex].value;

		
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({'address':location_address}, function(results,status) {
					if (status == google.maps.GeocoderStatus.OK) {
						pos = results[0].geometry.location;
						var lat = pos["k"];
					
						var lng = pos["D"];

						form_data = {"student" : student_name, "location_name":location_name, "location_address":location_address,  "location_type":location_type, "location_neighborhood":loc_neighborhood, "lat": lat, "lng":lng};

						$.ajax({
							url: "http://localhost:5000/submit_location",
						//	url: "http://tiu-proj.herokuapp.com/submit_location",
							type: "POST",
							data: form_data,
							success: function(data, textStatus, jqXHR)
							{
								console.log("SUCCESS!");
							},
							error: function (jqXHR, textStatus, errorTh) {
								console.log("ERROR!");
							}
						});
					}
			});
		}

	</script>
