<% layout('layout') -%>
<style>
	h3 {
		text-align: left;
	}
	

</style>

<body onload="loadClasses()">
<h1>Classes</h1>
	

<div class="info">
	<div id="class_list">
		
	</div>
<!-- 	<h2><a href="/manageClasses"></a></h2> -->
</div>


<script>
	var data;

	function loadClasses() {
		console.log("WHYY")
		var request = new XMLHttpRequest(); 
			request.open("GET", "/class_data", true);
			request.send();
			request.onreadystatechange = function() {
				if (request.readyState==4 && request.status==200) {
					
					data = JSON.parse(request.responseText);
					console.log(data);
					renderList();
				}
		};
	}

	function renderList() {

		var school_name;
		var location_name;
		var instructor_name;

		for (k in data) {
			school_name = data[k]["school"];
			class_name = data[k]["class_name"];
			instructor_name = data[k]["instructor"];

			$("#class_list").append("<h3>" + class_name + "</h3><p>" + school_name + ", " + instructor_name + "</p>");
		}
	}

</script>