<% layout('layout') -%>
<style>

	button {
		font-family: 'Source Sans Pro';
	}

	p {
		text-align: center;
	}

</style>

<body onload="loadClasses()">
<h1>Classes</h1>
	

<div class="info">

	<!-- 	<h2>View Modules from All Classes</h2> -->
	<!-- 	<h3>
		<div class="btn-group btn-group-justified" aria-label="..." role="group">
				<a href="hypothesis"><button type="button" class="btn btn-default" style="padding: 10px;">Student Hypotheses</a>
			</div>
			<div class="btn-group" role="group">
				<a href="whatWeEat"><button type="button" class="btn btn-default" style="padding: 10px;">What We Eat</button></a>
			</div>
			<div class="btn-group" role="group">
				<a href="communityMap"><button type="button" class="btn btn-default" style="padding: 10px;">Community Map</button></a>
			</div>
			<div class="btn-group" role="group">
				<a href="studentProjs"><button type="button" class="btn btn-default" style="padding: 10px;">Student Projects</button></a>
			</div>
		</div>
			<a class="module_link" href="hypothesis">Student Hypotheses</a>
			<a class="module_link" href="whatWeEat">What We Eat</a><br><br><br>
			<a class="module_link" href="communityMap">Community Map</a>
			<a class="module_link" href="studentProjs">Student Projects</a>
		</h3> -->
		<br><br>


	<div id="class_list">
	</div>
<!-- 	<h2><a href="/manageClasses"></a></h2> -->
</div>


<script>
	var data;

	function loadClasses() {
		var request = new XMLHttpRequest(); 
			request.open("GET", "/class_data", true);
			request.send();
			request.onreadystatechange = function() {
				if (request.readyState==4 && request.status==200) {
					data = JSON.parse(request.responseText);
					renderList();
				}
		};
	}

	function renderList() {

		 var school_name;
		 var location_name;
		 var instructor_name;

		for (k in data) {
			school_name = data[k]["school"];
			class_name = data[k]["class_name"];
			instructor_name = data[k]["instructor"];

			$("#class_list").append("<h2>" + class_name + "</h2><p>School: " + school_name + "<br>Instructor: " + instructor_name + "</p>");
		}
	}

</script>

