<% layout('layout') -%>

<link href="../css/whatWeEat.css" rel="stylesheet">

<h1>#BostonLatinEats</h1>


<script type="text/javascript" src="../js/instafeed.min.js"></script>

<script>
	function reveal(element){
		$('#instafeed a').each(function() {
			if (!$(this).hasClass(element)) {
				$(this).animate({opacity: '.1'}, 200);
			} else {
				$(this).animate({opacity: '1'}, 200);
			}
		}); 
	}
</script>

	
	<div class="info">
		<div id="instafeed"></div>

	</div>


<!--GET INSTAGRAM DATA-->

	<script type="text/javascript">

	/* GET FEED */
	    var userFeed = new Instafeed({
	        get: 'user',
	        userId:  415849806,
	        template: '<a href="{{image}}"><img src="{{image}}" alt="{{caption}}"/><span class="caption" style="display: none;">{{caption}}</span></a>',
	        accessToken: '415849806.f42d39b.b8286cf0351548e8ab3cc2e918bc84da'
	    });
	    userFeed.run();


		$(window).load(function() {
    $('img.caption').captionjs({
        'class_name'      : 'captionjs', // Class name for each <figure>
        'schema'          : true,        // Use schema.org markup (i.e., itemtype, itemprop)
        'mode'            : 'animated',   // default | stacked | animated | hide
        'debug_mode'      : false,       // Output debug info to the JS console
        'force_dimensions': true,        // Force the dimensions in case they cannot be detected (e.g., image is not yet painted to viewport)
        'is_responsive'   : false,       // Ensure the figure and image change size when in responsive layout. Requires a container to control responsiveness!
        'inherit_styles'  : false        // Have the caption.js container inherit box-model properties from the original image
    });
});

	
	</script>





