@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

@import url(http://fonts.googleapis.com/css?family=Lato:100);


body {
	background-image: url('../images/beige-fabric.jpg');
	background-image: url('../images/retina_wood.png');

	background-size: 800px 600px;

}


p {
	font-family: 'Source Sans Pro';
	font-size: 15px;
	color: rgb(100, 100, 100);
	color: rgb(255,255,214);
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

a:hover {
/*	color: rgb(181, 208, 186); 
	color: rgb(181, 204, 208); 
*/	
color: #FFFFFF;
background-color: rgba(250,230,178,0.5);
}

a:visited {
	color: #FFF;
}

@font-face {
	font-family: titleFont;
	src: url(../fonts/Ostrich.otf); 
	 
}

@font-face{
	font-family: subtitleFont;
	/*src: url(../fonts/doodle.ttf);*/
	src: url(../fonts/ostrich-light.ttf);
}

@font-face{
	font-family: subtitleBoldFont;
	src: url(../fonts/ostrich-rounded.ttf);
}


#nav {
	background-color: rgba(255,0,0,0.45);
	font-family: 'subtitleFont';
	font-size: 26px;
	padding: 10px;

}

/*
.nav_link:hover {
	color: #FFFFFF;
	background-color: rgba(250,230,178,0.5);

}*/


ul {
	text-align: center;
	color: #FFFFFF;
}

li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}

h1 {
	font-family: titleFont;
	font-size: 120px;
	color: #FFFFFF;


	text-align: center;
}

h2 {
	font-family: 'subtitleFont';

	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
}


h3 {
	font-family: 'Lato';
	font-size: 20px;
	text-align: center;
	color:#FFFFFF;
}

h4 {
	font-family: 'Lato';
	font-family: subtitleFont;

	font-size: 32px;
	text-align: left;
	color: rgb(60,60,60);
	color: #FFFFFF;
}


.info {
	background-color: rgba(116,151,164,0.6);
	background-color: rgba(78,154,182,0.4);
	

	
	margin-right: 80px;
	margin-left: 80px;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;

}

/* Community Map needs */


#map_canvas {
	width: 100%;
	height: 400px;
	position: absolute;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}


#desc {
	margin-top: 440px;
	width: 33%;
	height: 400px;
	background-color: rgba(139, 108, 148, 0.2);
		background-color: rgba(116,151,164,0.5);

	right: 20px;
	float: right;
	position: absolute;
}

#viz {
	margin-top: 440px;
	width: 60%;
	height: 400px;
	background-color: rgba(139, 108, 148, 0.2);
	background-color: rgba(116,151,164,0.5);


	left: 20px;
	float: left;
	position: absolute;

}

canvas {
	width: 100%;
	height: 400px;
}

.infoDiv {
	font-family: 'Lato';
	font-size: 14px;
	color: #000000;
}


input {
	color: #000000;
}

/* TEXTBOX */
.forms {
	font-family: "Source Sans Pro";
	font-size: 16px;
	color: rgb(100,100,100);
	color: #FFFFFF;
}

.textbox { 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

select optgroup{
    background:#FFF;
    color:#000;
    font-style:normal;
    font-weight:normal;
}


/* FOOTER */
.footer_links {
  text-align: center;
  font-size: 30px;
}

 #wrap {
    padding-top: 100px;
    min-height: 100px;

    height: 100px;
  
  }


#push,
#footer {
  height: 60px;
  font-family: subtitleFont;

}
#footer {
  background-color: rgba(145,202,202,0.5);
  background-color: rgba(107,162,153,0.5);
  background-color: rgba(78,182,175,0.4);
  background-color: rgba(255,172,77,0.5);
  margin: 0px;
  padding: 5px;
}

/*@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
  }
}
*/
.footer-text {
	font-size: 12px;
	padding-right: 30px;
	padding-right: 30px;

}


/* Modal */
label {
	font-family: 'Source Sans Pro';
}
.modal-title {
	font-family: subtitleBoldFont;
	color: #000;
}
.in {

background-color: rgba(250,230,178,0.4);
background-color: rgba(100, 100,100, 0.5);
}

.modal-content {
  height: 100%;
  width: 100%;


  border-radius: 0;
}
